{% extends "base.html" %}
{% load humanize %}
{% block title %}
    {{day}}
{% endblock title %}
{% block container %}
	<br><br><br>
	<div class="row justify-content-center">
		<div class="table-responsive col-sm-12 col-lg-8">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope='col'>#</th>
						<th scope='col'>Categoria</th>
						<th scope='col'>Valor</th>
					</tr>
				</thead>
				<tbody>
					{% for registry in registries %}
						<tr>
							<th scope="row">{{registry.pk}}</th>
							<th>{{registry.category}}</th>
							<th>{{registry.value|intcomma}}</th>
						</tr>
					{% endfor %}
					<tr>
						<th scope="row">Egresos</th>
						<th></th>
						<th></th>
						<th>{{movements.egresses|intcomma}}</th>
					</tr>
					<tr>
						<th scope="row">Ingresos</th>
						<th></th>
						<th></th>
						<th>{{movements.entries|intcomma}}</th>
					</tr>
					<tr>
						<th scope="row">Balance</th>
						<th></th>
						<th></th>
						<th class="{% if movements.balance < 0 %}text-danger{% else %}text-success{% endif %}">{{movements.balance|intcomma}}</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock container %}