{% extends "base.html" %}
{% block title %}
    Eliminar {{registry.pk}}
{% endblock title %}
{% block container %}
    <div class="row mt-5 justify-content-center">
    	<div class="col-sm-12 col-md-6 mt-5">
    		<div class="card">
    			<div class="card-header">
    				{{registry.name}}
    			</div>
    			<div class="card-body">
    				<blockquote class="blockquote mb-0">
    					<p>{{registry.description}}</p>
    					<p class="{% if registry.category.nature == 'EG' %}text-danger{% else %}text-success{% endif %}">{{registry.value}}</p>
    					<footer class="blockquote-footer">
    						<p>Fecha: <cite title="Fecha de registro">{{registry.date}}</cite></p>
    						<p>Modificado: <cite title="Fecha de modificación">{{registry.modified}}</cite></p>
    						<p>Creado: <cite title="Fecha de creación">{{registry.created}}</cite></p>
    					</footer>
    				</blockquote>
            		<form action="{% url 'registries:delete' registry.pk %}" method="POST">
            			{% csrf_token %}
            			<div class="form-group">
            				<div class="alert alert-danger">
            					Estás seguro de que quieres eliminar el registro <span class="font-italic">"{{registry.name}}"</span>?
            				</div>
            				<div class="row">
        	    				<button type="submit" value="confirm" class="btn btn-danger col m-1">Confirmar</button>
        	    				<a href="javascript:history.back(1)" class="btn btn-primary col m-1">Regresar</a>
               				</div>
            			</div>
            		</form>
                </div>
            </div>
    	</div>
    </div>
{% endblock container %}