{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<title>{% block title %}{% endblock title %}</title>
</head>
<body class="bg-light">
	{% if not user.is_anonymous %}
	    
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom">
		  <a class="navbar-brand" href="{% url 'registries:home' %}">Cash Flow</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href='{% url "registries:registries" %}'>{{ request.user.username.title }}<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Opciones
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href='{% url "registries:new" %}'>Nuevo registro</a>
		          <a class="dropdown-item" href='{% url "categories:new" %}'>Nueva categoria</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href='{% url "profiles:logout" %}'>Cerrar sesión</a>
		        </div>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0" action='{% url "registries:search" %}'>
				<input id='datepicker' name="date" value="{% if form.errors %}{{ form.date.value }}{% endif %}" class="form-control {% if form.date.errors %}is-invalid{% endif %}" readonly="true">
				{% if form.date.errors %}
					<div class="invalid-feedback">
					    {% for error in form.date.errors %}
					    	{{error}}
					    {% endfor %}
					</div>
				{% endif %}
			    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    		</form>
		  </div>
		</nav>
	{% endif %}
	<div class="container">
		{% block container %}
		{% endblock container %}
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script>
	$('#datepicker').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd',
            disableTouchKeyboard: true,
        });
	</script>
	{% block scripts %}
	    
	{% endblock scripts %}
</body>
</html>